[submodule "Users/tanveerbrar/2024-25/extension/ecooptimizer-vs-code-plugin"]
	path = Users/tanveerbrar/2024-25/extension/ecooptimizer-vs-code-plugin
	url = https://github.com/tbrar06/capstone--sco-vs-code-plugin
